.about-image{
   max-width: 347.45px;
   border-radius: 1rem;
   box-shadow: 13px 24px 18px 10px rgba(0,0,0,0.72);
}

.about-description{
    h2{
        font-family: 'Poppins', sans-serif;
    }
}
.about-extra-description{
    a{
        color: rgb(119, 119, 119);
        text-decoration: none;
    }
}