.summary-link{
    display: flex;
    a:active, a:focus, a:hover {
        outline: none;
        text-decoration: none;
    }
    p{
        margin: 5px;
        color: white;
        padding: 10px;
        min-width: 126px;
        text-align: center;
        border-radius: 32px;
        font-family: 'Poppins', sans-serif;
    }
    p:hover, p:active, p:focus{
        color: black;
        background-color: rgb(248, 249, 250);
    }
}

.icon{
    color: white;
}