.project-details-container{
    position: relative;
    box-shadow: 13px 24px 18px 10px rgba(0,0,0,0.72);
}
.project-image{
    width: 400px;
    height: 300px;
}
.image-description{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    visibility: hidden;
    justify-content: center;
    background: #222831;
    transition: opacity .2s, visibility .2s;
}

.project-details-container:hover{
    .image-description{
        opacity: 0.9;
        visibility: visible;   
        div{
            p{
                opacity: 1;
            }
         }
    }
}

